<a href="https://colab.research.google.com/github/LuisOtilioZuniga/Programaci-n-para-anal-tica-descriptiva-y-predictiva/blob/main/Limpieza_y_Transformaci%C3%B3n_de_Datos_Pr%C3%A1cticas_12%2C13%2C14%2C15%2C16%2C263349.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Esta parte del código monta tu Google Drive en el entorno Colab
#Al ejecutar drive.mount(), te pedirá que autorices a Google Colab para
#Acceder a tu Google Drive
from google.colab import drive

# Importar librerías
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#Después de la autorización, tu Google Drive estará Disponible en el Sistema
#de archivos de Colab en la ruta /content/drive/
#Si todo ha salido bien deberá aparecer un mensaje de
#Mounted at /content/drive
drive.mount('/content/drive')
# Leer el archivo CSV
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Programación para analítica descriptiva y predictiva/Unidad 2/miaad-nyc-r-s.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/tmp/ipython-input-1115818044.py:17: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Programación para analítica descriptiva y predictiva/Unidad 2/miaad-nyc-r-s.csv')

In [6]:
#PRÁCTICA 11
# Leer el archivo CSV, omitiendo la última fila
df = pd.read_csv(
    '/content/drive/MyDrive/Colab Notebooks/Programación para analítica descriptiva y predictiva/Unidad 2/miaad-nyc-r-s.csv',
    skipfooter=1,
    engine='python'
)

# Mostrar las últimas 3 filas para comprobar que no se cargó la última línea
print(df.tail(3))

# Imprimir la cantidad de filas y columnas
print("Cantidad de filas y columnas:", df.shape)

       Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84545        8411        5      WOODROW
84546        8412        5      WOODROW
84547        8413        5      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                ADDRESS  \
84545   7351   60                                  B2       49 PITNEY AVENUE
84546   7100   28                                  K6  2730 ARTHUR KILL ROAD
84547   7105  679                                  P9      155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[3 rows x 22 columns]
Cantidad de filas y columnas: (84548, 22)

In [7]:
#PRÁCTICA 12

# Imprimir los nombres de las columnas
print("Nombres originales de las columnas:")
print(df.columns)

# Verificar si la primera columna se llama INDEX MIIAD
if df.columns[0] != "INDEX MIIAD":
    df.columns = ["INDEX MIIAD"] + list(df.columns[1:])

# Imprimir nuevamente los nombres de las columnas
print("\nNombres de las columnas después de la verificación/cambio:")
print(df.columns)

Nombres originales de las columnas:
Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

Nombres de las columnas después de la verificación/cambio:
Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [8]:
#PRÁCTICA 13

# Normalizar los nombres de las columnas
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Imprimir los nombres de las columnas normalizados
print("Nombres de las columnas normalizados:")
print(df.columns)

Nombres de las columnas normalizados:
Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

In [9]:
#PRÁCTICA 14

# Imprimir los tipos de datos actuales
print("Tipos de datos actuales:")
print(df.dtypes)

# Convertir a tipo flotante las columnas necesarias
cols_to_convert = ["sale_price", "land_square_feet", "gross_square_feet"]

for col in cols_to_convert:
    if col in df.columns:  # Verifica que la columna exista
        df[col] = pd.to_numeric(df[col], errors='coerce').astype(float)

# Imprimir los tipos de datos después del cambio
print("\nTipos de datos después de la conversión:")
print(df.dtypes)

Tipos de datos actuales:
index_miiad                        int64
borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease-ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                        object
sale_date                         object
dtype: object

Tipos de datos después de la conversión:
index_miiad                         int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

In [10]:
#PRÁCTICA 15

# Generar diccionario de datos
data_dict = {}

for col in df.columns:
    data_dict[col] = {
        "tipo_dato": str(df[col].dtype),
        "valores_nulos": df[col].isnull().sum(),
        "valores_unicos": df[col].nunique()
    }

# Imprimir el diccionario de datos
print("Diccionario de datos del dataframe preprocesado:")
for col, info in data_dict.items():
    print(f"{col}: {info}")

Diccionario de datos del dataframe preprocesado:
index_miiad: {'tipo_dato': 'int64', 'valores_nulos': np.int64(0), 'valores_unicos': 26736}
borough: {'tipo_dato': 'int64', 'valores_nulos': np.int64(0), 'valores_unicos': 5}
neighborhood: {'tipo_dato': 'object', 'valores_nulos': np.int64(0), 'valores_unicos': 254}
building_class_category: {'tipo_dato': 'object', 'valores_nulos': np.int64(0), 'valores_unicos': 47}
tax_class_at_present: {'tipo_dato': 'object', 'valores_nulos': np.int64(0), 'valores_unicos': 11}
block: {'tipo_dato': 'int64', 'valores_nulos': np.int64(0), 'valores_unicos': 11566}
lot: {'tipo_dato': 'int64', 'valores_nulos': np.int64(0), 'valores_unicos': 2627}
ease-ment: {'tipo_dato': 'object', 'valores_nulos': np.int64(0), 'valores_unicos': 1}
building_class_at_present: {'tipo_dato': 'object', 'valores_nulos': np.int64(0), 'valores_unicos': 167}
address: {'tipo_dato': 'object', 'valores_nulos': np.int64(0), 'valores_unicos': 67563}
apartment_number: {'tipo_dato': 'object', 'valores_nulos': np.int64(0), 'valores_unicos': 3989}
zip_code: {'tipo_dato': 'int64', 'valores_nulos': np.int64(0), 'valores_unicos': 186}
residential_units: {'tipo_dato': 'int64', 'valores_nulos': np.int64(0), 'valores_unicos': 176}
commercial_units: {'tipo_dato': 'int64', 'valores_nulos': np.int64(0), 'valores_unicos': 55}
total_units: {'tipo_dato': 'int64', 'valores_nulos': np.int64(0), 'valores_unicos': 192}
land_square_feet: {'tipo_dato': 'float64', 'valores_nulos': np.int64(26252), 'valores_unicos': 6061}
gross_square_feet: {'tipo_dato': 'float64', 'valores_nulos': np.int64(27612), 'valores_unicos': 5690}
year_built: {'tipo_dato': 'int64', 'valores_nulos': np.int64(0), 'valores_unicos': 158}
tax_class_at_time_of_sale: {'tipo_dato': 'int64', 'valores_nulos': np.int64(0), 'valores_unicos': 4}
building_class_at_time_of_sale: {'tipo_dato': 'object', 'valores_nulos': np.int64(0), 'valores_unicos': 166}
sale_price: {'tipo_dato': 'float64', 'valores_nulos': np.int64(14561), 'valores_unicos': 10007}
sale_date: {'tipo_dato': 'object', 'valores_nulos': np.int64(0), 'valores_unicos': 364}